---
excerpt: none
permalink: /projects/
---

{% include head.html %}
<body class="no-js layout-home">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main">
    <header role="banner">
      The place to bid on 18F&rsquo;s open-source development opportunities.
      <a href="#">Learn more</a>
    </header>
    <div class="h-feed">
      <div class="wrapper">
        <header class="h-feed-header">
          <h1 class="p-title">Projects</h1>
          <nav>
            <h2>Sort by</h2>
            <ul>
              <li><a href="#">Language</a></li>
              <li><a href="#">Agency</a></li>
              <li><a href="#">Open auctions</a></li>
              <li><a href="#">Category</a></li>
              <li><a href="#">Activity</a></li>
              <li><a href="#">Open auctions</a></li>
            </ul>
          </nav>
        </header>
        <article class="h-entry auction">
          <h1 class="p-name auction-name">
            <a href="{{site.baseurl}}/projects/openopps-platform/">Open Opportunities Platform</a>
          </h1>
          <p class="p-summary auction-summary">The Open Opportunities is a node.js-based platform to foster collaboration on government projects. This issue seeks to create a new user role for &ldquo;Agency Admins&rdquo; that will (in the future) give those users admin privileges to see data for users from their agency.</p>
          <footer class="auction-footer">
            <dl>
              <dt>Number of auctions</dt>
              <dd class="p-author">3</dd>
              <dt class="auction-current-bid">Active auction</dt>
              <dd class="auction-current-bid"><a href="{{site.baseurl}}/auctions/show/">Create Agency Admin User Role</a></dd>
            </dl>
          </footer>
        </article>
        <article class="h-entry auction">
          <h1 class="p-name">
            <a href="#">Tock</a>
          </h1>
          <p class="p-summary">Tock is a simple time tracking app that 18F employees use to report their time on a weekly basis. Currently, no user may enter more than 40 hours per week. This issue seeks to allow certain specified users of Tock to enter anywhere between 0 and 60 hours.</p>
          <footer class="auction-footer">
            <dl>
              <dt>Number of auctions</dt>
              <dd class="p-author">2</dd>
            </dl>
          </footer>
        </article>
        <article class="h-entry auction">
          <h1 class="p-name">
            <a href="{{site.baseurl}}/projects/openopps-platform/">Another fake entry</a>
          </h1>
          <p class="p-summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
          <footer class="auction-footer">
            <dl>
              <dt>Number of auctions</dt>
              <dd class="p-author">1</dd>
            </dl>
          </footer>
        </article>
        <article class="h-entry auction">
          <h1>
            <a href="{{site.baseurl}}/projects/openopps-platform/">Another fake entry</a>
          </h1>
          <p class="p-summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
          <footer class="auction-footer">
            <dl>
              <dt>Number of auctions</dt>
              <dd class="p-author">1</dd>
            </dl>
          </footer>
        </article>
        <article class="h-entry auction">
          <h1>
            <a href="{{site.baseurl}}/projects/openopps-platform/">Another fake entry</a>
          </h1>
          <p class="p-summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
          <footer class="auction-footer">
            <dl>
              <dt>Number of auctions</dt>
              <dd class="p-author">1</dd>
            </dl>
          </footer>
        </article>
        <article class="h-entry auction">
          <h1>
            <a href="{{site.baseurl}}/projects/openopps-platform/">Another fake entry</a>
          </h1>
          <p class="p-summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
          <footer class="auction-footer">
            <dl>
              <dt>Number of auctions</dt>
              <dd class="p-author">1</dd>
            </dl>
          </footer>
        </article>
      </div>
    </div>
  </main>
  {% include site-footer.html %}
</body>
