---
title: Open Opps Platform
excerpt: None
---

{% include head.html %}
<body class="no-js layout-projects">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <nav class="breadcrumbs">
    <div class="wrapper">
      <a href="{{site.baseurl}}/projects/">&larr; All projects</a>
    </div>
  </nav>
  <main class="project h-entry" role="main" id="main">
    <div class="wrapper">
      <header class="project-header h-feed-header">
        <h1 class="p-name"><a href="https://github.com/18F/openopps-platform/">Open Opportunities Platform</a></h1>

      </header>

      <div class="page">
        <p class="project-description p-summary">Open Opportunities uses the open source sails.js MVC framework (Node.js / Express). Currently, a task creator should receive the following notification if a task they created receives a comment. However, this functionality has broken, without breaking the build's test suite. This issue sees the creation of a failing test (or tests) that will only pass when the notification functionality is restored, along with the fix to make those tests pass.</p>

	      <div class="h-feed">
	        <article class="h-entry project">
	          <h1 class="p-name project-name">
	            <a href="{{site.baseurl}}/auctions/show">Create Agency Admin User Role </a>
	          </h1>
	          <p class="p-summary project-summary">This issue seeks to create a new user role for &ldquo;Agency Admins&rdquo; that will (in the future) give those users admin privileges to see data for users from their agency.</p>
	          <!-- <footer class="project-footer">
	            <dl>
	              <dt>Submitted by</dt>
	              <dd class="p-author"><img src="#">Patrick Bateman</dd>
	              <dt class="project-current-bid">Current bid</dt>
	              <dd class="project-current-bid">$2,750.00</dd>
	              <dt class="project-status">Status</dt>
	              <dd class="project-status project-status-open">Open</dd>
	            </dl>
	          </footer> -->
	        </article>
	        <article class="h-entry project">
	          <h1 class="p-name">
	            <a href="{{site.baseurl}}/auctions/show">Fake issue</a>
	          </h1>
	          <p class="p-summary">This issue is fake. I really can't tell you how fake it is. If you bid on it, you will never win it.</p>
	          <!-- <footer class="project-footer">
	            <dl>
	              <dt>Submitted by</dt>
	              <dd class="p-author"><img src=""></dd>
	              <dt class="project-current-bid">Current bid</dt>
	              <dd class="project-current-bid">Sealed</dd>
	              <dt class="project-status">Status</dt>
	              <dd class="project-status project-status-open">Open</dd>
	            </dl>
	          </footer> -->
	        </article>


	      </div>
      </div>
      <footer class="project-footer">
		        <dl>
		          <dt class="project-time-left">Time left</dt>
		          <dd class="project-time-left">
		            15 days
		            <span class="project-time-left-alternate">
		              Ends: 05/25/2016 at 5:00pm EST
		            </span>
		          </dd>
		          <dt class="project-github-issue">GitHub issue</dt>
		          <dd class="project-github-issue"><a href="https://github.com/18F/openopps-platform/issues/1236">openopps-platform#1236</a></dd>
		          <dt class="project-github-issue">Project</dt>
		          <dd class="project-github-issue"><a href="{{site.baseurl}}/projects/openopps-platform">Open Opps Platform</a></dd>
		          <dt class="project-language">Language</dt>
		          <dd class="project-language">Ruby</dd>
		          <dt class="project-status">Status</dt>
		          <dd class="project-status project-status-open">Open</dd>
		        </dl>
		      </footer>
    </div>
  </main>
  {% include site-footer.html %}
</body>
