<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>18F Microviz</title>

    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/c3.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="{{site.baseurl}}/"><h1>18F Microviz</h1></a>
        <p>Helpful data visualizations for Micropurchase Bizdev</p>
        <p class="view"><a href="http://github.com/gemfarmer/microviz">View the Project on GitHub</a></p>
        <ul>
          <li><a href="{{site.url}}/about">About</a></li>
          <li><a href="{{site.url}}/numbers">Primary stats</a></li>
          <li><a href="{{site.url}}/charts">Charts</a></li>
        </ul>
      </header>
      <section>
        <h1>{{page.title}}</h1>
        {{content}}
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>

    <script src="{{site.baseurl}}/javascripts/jquery-2.2.3.min.js"></script>
    <script src="{{site.baseurl}}/javascripts/d3.js"></script>
    <script src="{{site.baseurl}}/javascripts/underscore.js"></script>
    <script src="{{site.baseurl}}/javascripts/c3.js"></script>

    <script src="{{site.baseurl}}/javascripts/utility.js"></script>
    <script src="{{site.baseurl}}/javascripts/previousWinners.js"></script>

  </body>
</html>
