<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>18F Microviz</title>

    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/c3.css">
    <meta name="viewport" content="width=device-width">

  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="{{site.baseurl}}/"><h1>18F Microviz</h1></a>
        <a href="http://github.com/18F/microviz">GitHub repo</a>
        <p><strong>Data: </strong><a href="https://micropurchase.18f.gov/auctions.json">https://micropurchase.18f.gov/</a></p>
        <hr/>
        <h3>Pages</h3>
        <hr/>
        <a href="{{site.baseurl}}/numbers">Primary stats</a>
        <br/>
        <a href="{{site.baseurl}}/playground">Playground</a>
        <br/>
        <a href="{{site.baseurl}}/charts">Charts</a>
        <br/>
        <a href="{{site.baseurl}}/more-charts">More Charts</a>
        {% if page.side_text and page.sidenav %}
          <hr/>
          <h3>{{page.side_text}}</h3>
          <hr/>
          {% for nav in page.sidenav %}
            <a href="{{site.baseurl}}{{page.permalink}}{{nav.link}}">{{nav.text}}</a>
            <br/>
          {% endfor %}
        {% endif %}
      </header>
      <section>
        <h1>{{page.title}}</h1>
        {{content | markdownify }}
      </section>

    </div>

    <script type="text/javascript" src="{{site.baseurl}}/javascripts/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/javascripts/d3.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/javascripts/underscore.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/javascripts/c3.js"></script>

    <script type="text/javascript" src="{{site.baseurl}}/javascripts/utility.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/javascripts/previousWinners.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/javascripts/playground.js"></script>

  </body>
</html>
