<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>18F Microviz</title>

    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/c3.css">
    <meta name="viewport" content="width=device-width">

  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="{{site.baseurl}}/"><h1>18F Microviz</h1></a>
        <hr/>
        <h3>Pages</h3>

        <ul>
          <li><a href="{{site.baseurl}}/numbers/">Primary stats</a></li>
          <li><a href="{{site.baseurl}}/playground/">Playground</a></li>
          <li><a href="{{site.baseurl}}/charts/">Charts</a></li>
          <li><a href="{{site.baseurl}}/more-charts/">More Charts</a></li>
        </ul>

        {% if page.side_text and page.sidenav %}
          <hr/>
          <h3>{{page.side_text}}</h3>
          <hr/>
          <ul>
          {% capture less_one %}{{ page.permalink.size | minus: 1}}{% endcapture %}
          {% assign permalink = page.permalink | slice:0,less_one %}

          {% for nav in page.sidenav %}
            <li><a href="{{site.baseurl}}{{ permalink }}{{nav.link}}/">{{nav.text}}</a></li>
          {% endfor %}
          </ul>
        {% endif %}
      </header>
      <section>
        <h1>{{page.title}}</h1>
        {{content | markdownify }}
      </section>

    </div>

    <script type="text/javascript" src="{{site.baseurl}}/javascripts/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/javascripts/d3.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/javascripts/underscore.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/javascripts/c3.js"></script>

    <script type="text/javascript" src="{{site.baseurl}}/javascripts/utility.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/javascripts/previousWinners.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/javascripts/playground.js"></script>

  </body>
</html>
